body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    background-color: rgb(18, 11, 112);
    width: 100%;
    align-items: center;
}

header ul{
    list-style-type: none;
    display: flex;
}

.logotipo{
    display:flex;
    align-items: center;
    margin-left: 20px;
    color: white;
}

/*logo*/
.logotipo img{
    margin-right: 10px;
}

header a{
    text-decoration: none;
    color:rgb(215, 215, 34);
}

header nav a{
    font-weight: 600;
    padding-right: 10px;
}

header nav a:hover{
    color:white;
}

/*Menu responsive
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    header nav{
        padding: 10px 0px;
    }
}
*/


/*Icono del usuario*/
header div a:nth-child(2){
    margin-right: 20px;
}
/*Carrito*/
header div a:nth-child(1){
    margin-right: 15px;
}