*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/394/388/original/abstract-dark-blue-fluid-wave-background-free-vector.jpg);
}

.form-register{
    width: 400px;
    background-color: #130230;
    padding:30px;
    margin:auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    box-shadow: 7px 13px 37px #130230;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color: #130230;
    padding:10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1 px solid #130230;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: rgb(216, 136, 136);
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

/*Boton de registro*/
.form-register #button{
    width: 100%;
    background-color: rgb(42, 7, 107) !important;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor:pointer;
    border-radius: 8px;
}

#logoR{
    margin: 0 auto 15px;
    display: flex;
    
}

.form-register p #iniciarS{
    cursor: pointer;
    text-decoration: none;
}