#imagenes{
    display: flex;
}

#sobreNos{
    padding: 40px;
    background-color: black;
    
}

#sobreNos h2{
    text-align: center;
    color: rgb(196, 246, 120);
    font-size: 30px;
}

#sobreNos p{
    color: rgb(248, 189, 189);
    font-size: 18px;
}

#sobreNos img{
    padding: 10px;
    display: flex;
    margin: 0 auto;
}

#vision, #mision, #organigrama{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    color: white;

    text-align: center;
}

#mision h2, #vision h2, #organigrama h2{
    color: rgb(196, 246, 120);
    font-size: 30px;
}


#mision p, #vision p{
    color: rgb(248, 189, 189);
    font-size: 18px;
}

#contactos{
    background-color: rgb(70, 61, 61);
    padding: 5%;
    text-align: center;
    color: rgb(173, 218, 237);
}

#contactos iframe{
    margin-top: 20px;
}

#contactos h3{
    font-size: 30px;
    font-weight: bold;
}

footer {
    background-color: rgb(18, 11, 112);
    color: white;
    display: flex;
}

footer div{
    padding: 2%;
    text-align: center;
    width: 50%;
}

#iconos ul li{
    list-style-type: none;
    display: inline-block;
    margin: auto;
}

/*modificando estilo de organigrama*/
#organigrama img{
    background-color: black;
}
